section {
    padding: 80px 200px;
    overflow: auto;
    overflow: hidden;
    /* background-color: #f5e6ea; */


}

* {
    scroll-behavior: smooth;



}

::-webkit-scrollbar {
    display: none;
}


body {
    font-family: Oranienbaum;


    margin: 0;
    scroll-behavior: smooth;
    background-color: #181817;

}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    z-index: 2;

    background-color: #181817;

    filter: drop-shadow(0px 0px 5px black);

}


a {
    list-style: none;
    text-decoration: none;
    color: #CFCA16;
}

.icon {
    margin: 10px 0px;
}

.intro {
    border-radius: 25PX;
    width: fit-content;

}

.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    letter-spacing: 0.15rem;

}

.list-item {
    padding: 10px;
    margin: 0px 15px;
    font-family: Gabarito;
    font-size: 1.25rem;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin: 25px 20px;
    font: 900;
    color: #CFCA16;


}

.title-p {
    display: flex;
    justify-content: center;
    font: 900;
    color: #CFCA16;
    font-size: 3.5rem;
    font-family: Agbalumo;


}

.paragraph {
    padding: 0px 50px;
    margin-right: 65px;
    color: #F9F7F3;
    font-family: Gabarito;
    font-size: 1.15rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 40px;
}

.picture {
    width: fit-content;
}

.picture img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 45vh;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    transition: 0.5s ease-in-out;

}

.picture :hover {
    transition: 0.4s ease-in-out;
    filter: drop-shadow(0px -8px 8px #CFCA16);
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 25px 25px;
    width: fit-content;
    color: #CFCA16;


}

.heading {
    font-size: 1.65rem;
    opacity: 0.8;
    margin: 5px 25px;
}

.images img {
    cursor: pointer;
    transition: 0.6s ease;

    margin: 10px;
}

.images img:hover {
    transition: 0.3s ease;
    transform: perspective(400px) translate3d(0px, 0px, 100px);
    /* outline: 2px solid black; */
}

.Projects {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.underline {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid #CFCA16;
    width: 50px;
    height: 25px;
    border-radius: 20%;


}

.heading-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 50px;
    background: rgba(255, 255, 255, 0.059);
    padding: 5px;
    border-radius: 40px;

    filter: drop-shadow(2px -2px 7px black);
}

.project-img {
    width: 500px;
    height: 300px;
    border-radius: 40px;
    margin-right: 15px;
}

.tech-used {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;


}

.para {
    margin-left: 30px;
    color: #F9F7F3;
    margin-right: 20px;
    /* padding: 0px 40px; */

}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    font-family: Gabarito;
}

.tech-used li {
    width: 50px;
    list-style: none;
    margin: 0px 25px;
    padding: 5px 10px;
    opacity: 0.6;
    outline: 2px dashed #CFCA16;
    color: #F9F7F3;

}

.visit {
    transition: 0.3s ease-in-out;
    background-color: rgba(0, 0, 0);
    border-radius: 35px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.visit :hover {
    transition: 0.3s ease-in-out;
    background-color: #cfc916b4;
    /* color: black; */
}

.visit i {
    margin: 10px;

}

.contact {
    background-color: black;
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 80vh;

}

.c {
    /* margin-top: 50px; */
    color: white;
    font-family: Gabarito;
    text-transform: uppercase;
    /* filter: blur(2px); */
}

.underlinec {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid white;
    width: 50px;
    height: 25px;
    border-radius: 20%;
    margin-bottom: 100px;
    /* filter: drop-shadow(0px -15px 7px white); */
}

.socials a,
.socials p {
    color: white;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;

}

.socials :hover {
    background-color: #536e9d;

}

.icons {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px 15px;
    padding: 15px 15px;
    outline: 2px solid white;
    transition: 0.4s ease-in-out;

}

@media screen and (max-width:991px) {
    .navbar {
        display: none;
    }

    .tech {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 25px 25px;
        width: fit-content;
        color: #CFCA16;


    }

    .picture {
        width: fit-content;
    }

    .picture img {
        height: 25vh;
        width: 25vh;
        margin-top: 20px;


    }

    .title-p {

        font-size: 2rem;
        font-family: Agbalumo;


    }

    .title {
        font-size: 2.5rem;

    }

    .paragraph {
        margin-right: 20px;
        font-size: 1rem;
    }

    .about {
        flex-direction: column;
        padding: 10px;
        justify-content: center;
    }

    .tech {
        display: inline;
        justify-content: start;
        align-items: center;
        padding: 25px 25px;
        width: fit-content;
        color: #CFCA16;


    }

    .heading {
        display: flex;
        justify-content: center;

        font-size: 1.65rem;
        opacity: 0.8;
        margin: 5px 25px;
    }

    .images img {
        cursor: pointer;
        transition: 0.6s ease;

        margin: 10px;
    }

    .images img:hover {
        transition: 0.3s ease;
        transform: translate3d(0px, 0px, 100px);
        /* outline: 2px solid black; */
    }

    .project {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 25px 25px;
        background: rgba(255, 255, 255, 0.059);
        padding: 25px 15px;
        border-radius: 40px;
        filter: drop-shadow(2px -2px 7px black);
    }

    .project-img {
        width: 100%;
        height: 300px;
        border-radius: 40px;
        margin-right: 0px;
    }

    .heading-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Projects {
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .tech-used {
      
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px;
    }
    .tech-used li {
        width: 50%;
        list-style: none;
        margin: 0px 25px;
        padding: 5px 10px;
        opacity: 0.8;
        outline: 2px dashed #CFCA16;
        color: #F9F7F3;
    
    }

    .underlinec {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 10px solid white;
        width: 40px;
        height: 25px;
        border-radius: 20%;
        margin-bottom: 100px;
        /* filter: drop-shadow(0px -15px 7px white); */
    }
    
    .socials a,
    .socials p {
        color: white;
    }
    
    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0px;
    
    }
    
    .socials :hover {
        background-color: #536e9d;
    
    }
    
    .icons {
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
        margin: 0px 15px;
        padding: 10px 10px;
        outline: 2px solid white;
        transition: 0.4s ease-in-out;
    
    }
    .c{
        margin-top: 20px;
    }
    section{
        padding: 0px;
    }
    .images{
        display: flex;
        justify-content: center;
    }
    .Header{
        padding: 0px;
        height: max-content;
    }
    .contact{
        padding: 20px;
        height:100vh;
    }
    .icon{
        margin-top: 20px;

    }

}